<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="councellor registor.css">
    <title>Document</title>
</head>
<body>
    <form action="" enctype="multipart/form-data">
    <div class="container">
        <div class="rdx">
         <label>First Name</label>
         <input type="text"name="first name" ><br>
        </div >
        <div class="rdx">
        <label for="">Surname</label>
        <input type="text"name="surname"><br>
        </div>
        <div class="rdx">
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div class="rdx">
            <label for="">phone</label>
            <input type="text"name="phone"><br>  
         </div>
         <div class="rdx">
            <label for="">age</label>
            <input type="int"><br>  
        </div>
        <div class="rdx1">
            <label>Gender:-</label><br>
            <input type="radio" id="male" value="male" name="radio">male
            <input type="radio" id="female" value="female" name="radio">female
            <input type="radio" id="others" value="others" name="radio">others
        </div>
        <div class="rdx">
            <label for="">place</label>
            <input type="text"name="place"><br>  
        </div>
        <div class="rdx">
            <label for="">post</label>
            <input type="text"name="post" ><br>  
        </div>
        <div class="rdx">
            <label for="">pin</label>
            <input type="text"name="pin"><br>  
        </div>
        <div class="rdx">
            <label for="">district</label>
            <input type="text"name="district"><br>  
        </div>
        <div class="rdx">
            <label for="">state</label>
            <input type="text"name="state"><br>  
        </div>
        <div class="rdx">
            <label for="">qualification</label>
            <textarea></textarea><br>  
        </div>
        <div class="rdx">
            <label for="">username</label>
            <input type="text"name="username"><br>  
        </div>
        <div class="rdx">
            <label for="">password</label>
            <input type="text"name="password"><br>  
        </div>
         
        <div class="rdx3">
            <button type="register">register</button><br>
        </div>  
    </div>
  </form>
</body>
</html>