!<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="upload-motivationalThougths.css">
</head>
<body>
    <div class="container">

   <div class="divnav">
    <h3>Upload Motivational Thougths</h3>
    <label>Thougths</label>
    <input type="text"name="Thougths" style="background: transparent;">
   </div>
    
    <div>
    <label>discriptrion</label> 
    <textarea></textarea>
</div>
    <button>submit</button>
</div>


    
</body>
</html>